*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.layout{
  width:100%;
  height:100vh;
  /* border:2px solid red; */
}

.chat-layout{
  width:100%;
  height:calc(100% - 55px);
  /* border:2px solid blue; */
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat-layout::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.chat{
  width:100%;
  height:55px;
  /* border:2px solid rgb(32, 197, 123); */
  display:flex;
}

.typing{
  width:calc(100% - 100px);
  height:100%;
  /* border:3px solid yellow; */
}

.send{
  width:100px;
  height:100%;
  /* border:3px solid red; */
}

.chat-body{
  /* margin-left: 10px; */
  margin:10px;
  width:40%;
  border:1px solid green;
  border-radius:6px;
}

.username{
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.message-body{
  display:flex;
  justify-content:space-between;
  margin-bottom: 2px;
}

.message{
  margin-left: 5px;
  
}

.time{
  font-size: 10px;
  margin-right: 5px;
}